# Environment variables
.env
.env.*

# Python caches
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Virtual environments
venv/
env/
.venv/

# IDEs and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
